*{
    margin: 0px;
}
body{
    font-family: 'gabarito';
}
.header{
    display: flex;
    justify-content: center;
    background-color:#F885C2;
    padding: 12px;
    flex-basis: 100%;
    flex-grow: 1;
}
.card-cont{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    flex-wrap: wrap;


}
.card-cont__item{
    margin-top: 20px;
    padding: 20px;
    background-color: black;
    color: white;
    flex-basis: 220px;
    border-radius: 15px;
    height: 300px;
    
    
}
.card-cont__item--sub{
    
    margin-top: 20px;
    padding: 10px;
    border: solid white 2px;
    border-radius: 10px;
    
}
.card-cont__item--sub h3{
    width: 100%;
}
.card-head{
    text-align: center;
    padding: 10px;
    
}